VITE_FIREBASE_API_KEY=AIzaSyCsJWX5JkytdS_0mli1U4HilIu4HSvu0ug
VITE_FIREBASE_AUTH_DOMAIN=tom-peters-64157.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tom-peters-64157
VITE_FIREBASE_STORAGE_BUCKET=tom-peters-64157.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=276822857428
VITE_FIREBASE_APP_ID=1:276822857428:web:72c34a769855e2b7c68d41
